
$white:hsla(0, 0%, 100%, 1);


$darkGrey: hsla(180, 2%, 22%, 1);
$grey: hsla(0, 0%, 35%, 1);
$grey-2:hsla(0, 1%, 56%, 1);
$grey-3:hsla(0, 2%, 22%, 1);
$lightGrey: hsla(0, 0%, 88%, 1);
$lightGrey-1: hsla(0, 0%, 63%, 1);


$beige: hsla(0, 1%, 56%, 1);
$darkBeige: hsla(0, 0%, 44%, 1);
$darkenBeige:hsla(213, 5%, 45%, 1);

$yellow: hsla(55, 100%, 60%, 1);
$yellow-1:hsla(48, 85%, 63%, 1);

$lightYellow:hsla(60, 100%, 97%, 1);




$black:hsla(0, 0%, 0%, 1);


$layout:1920;
$em:16;

$a-time:0.4s;

$breakpoints-max:('xl':1919.98,'lg':1439.98,'bg':1279.98,'md':1023.98,'sm':767.98,'xs':575.98,'xxs':319.98);
$breakpoints-min:('xl':1920,'lg':1400,'md':1280,'sm':768,'xs':576,'xxs':320)

