<section class="promo-block">
  <div class="promo-block__container">
    <img
      src="./assets/images/main/promo/Mask.png"
      alt=""
      class="promo-block__img"
      data-animation="ltrtZoom"
    />
    
      <div class="promo-block__description-container">
        <h2 class="promo-block__header h2" data-animation="splittext--chars">Aesthetic ethical drinking</h2>
        <div class="line line-hr" data-animation="line--hr"></div>
        <p class="promo-block__title p1 p1-db" data-animation="splittext--words">
          Deep v you probably haven't heard of them banh mi synth actually
          affogato. Artlyft ethical the one drinking vinegar austint
        </p>
      
    </div>
  </div>
</section>
