<section class='collections-block'>
    <div class="collections-block__container">
        <div class="collections-block__header-container">
            <h3 data-animation="splittext--chars" class="collections-block__header h3">Furniture new collection</h3>
            <div data-animation="line--hr" class="line line-hr"></div>
            <p data-animation="splittext--words" class="collections-block__description p1 p1-db">Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
            </p>
        </div>
        <div class="collections-block__collections-container">
            <div class="collections-block__collections-card">
                <img data-animation="ltrtZoom" src="./assets/images/main/collections/placeholder.png" alt="" class="collections-block__collections-image">
                <div class="collections-block__collections-card__content">
                    <h4 class="collections-block__collections-card__header h4">Truffaut literally trust</h4>
                    <div class="line line-hr"></div>
                    <p class="collections-block__collections-card__description p1-fs-14">Living room furntiture | Chair</p>
                </div>
            </div>
            <div class="collections-block__collections-card">
                <img data-animation="ltrtZoom" src="./assets/images/main/collections/placeholder1.png" alt="" class="collections-block__collections-image">
                <div class="collections-block__collections-card__content">
                    <h4 class="collections-block__collections-card__header h4">Truffaut literally trust</h4>
                    <div class="line line-hr"></div>
                    <p class="collections-block__collections-card__description p1-fs-14">Living room furntiture | Chair</p>
                </div>
            </div>
            <div class="collections-block__collections-card">
                <img data-animation="ltrtZoom" src="./assets/images/main/collections/placeholder2.png" alt="" class="collections-block__collections-image">
                <div class="collections-block__collections-card__content">
                    <h4 class="collections-block__collections-card__header h4">Truffaut literally trust</h4>
                    <div class="line line-hr"></div>
                    <p class="collections-block__collections-card__description p1-fs-14">Living room furntiture | Chair</p>
                </div>
            </div>
            <div class="collections-block__collections-card">
                <img data-animation="ltrtZoom" src="./assets/images/main/collections/placeholder3.png" alt="" class="collections-block__collections-image">
                <div class="collections-block__collections-card__content">
                    <h4 class="collections-block__collections-card__header h4">Truffaut literally trust</h4>
                    <div class="line line-hr"></div>
                    <p class="collections-block__collections-card__description p1-fs-14">Living room furntiture | Chair</p>
                </div>
            </div>
            <div class="collections-block__collections-card">
                <img data-animation="ltrtZoom" src="./assets/images/main/collections/placeholder4.png" alt="" class="collections-block__collections-image">
                <div class="collections-block__collections-card__content">
                    <h4 class="collections-block__collections-card__header h4">Truffaut literally trust</h4>
                    <div class="line line-hr"></div>
                    <p class="collections-block__collections-card__description p1-fs-14">Living room furntiture | Chair</p>
                </div>
            </div>
        </div>
    </div>
</section>