<section class="blog-block">
    <div class="blog-block__container container">
        <h3 class="blog-block__header h3" data-animation="splittext--chars">More inspiration ideas in our blog</h3>
        <ul class="blog-block__list">
            <li class="blog-block__list-item">
                <img src="./assets/images/main/blog/Mask1.png" alt="" class="blog-block__list-item-image" data-animation="ltrtZoom">
                <ul class="blog-block__list-item-tabs p1 p1-fs-14" data-animation="fade-out-bottom-stagger">
                    <li class="blog-block__list-item-tab">March 12,2020</li>
                    <li class="blog-block__list-item-tab">by Ann Summers</li>
                    <li class="blog-block__list-item-tab">Interior</li>
                </ul>
                <h4 class='blog-block__list-item-header h3 h3-fs-24' data-animation="splittext--words">Red selfies edison bulb four dollar toast humblebrag</h4>
            </li>
            <li class="blog-block__list-item">
                <img src="./assets/images/main/blog/Mask2.png" alt="" class="blog-block__list-item-image" data-animation="ltrtZoom">
                <ul class="blog-block__list-item-tabs p1 p1-fs-14" data-animation="fade-out-bottom-stagger">
                    <li class="blog-block__list-item-tab">March 12,2020</li>
                    <li class="blog-block__list-item-tab">by Ann Summers</li>
                    <li class="blog-block__list-item-tab">Interior</li>
                </ul>
                <h4 class='blog-block__list-item-header h3 h3-fs-24' data-animation="splittext--words">Red selfies edison bulb four dollar toast humblebrag</h4>
            </li>
        </ul>
    </div>
</section>