<section class="projects-promo-block">
  <div class="projects-promo-block__container">
    <div class="filter-block p1-fs-14 p1-fc-grey" data-animation="fade-out-bottom-stagger">
      <button class="filter-block__item" >Bedroom furniture</button>
      <button class="filter-block__item" >Living room furniture</button>
      <button class="filter-block__item" >Office furniture</button>
      <button class="filter-block__item" >Dining room futniture</button>
      <button class="filter-block__item" >Chair</button>
    </div>
    <div class="projects-grid__container grid-container" data-animation="fade-out-bottom-stagger">
      <div class="projects-grid__iten  grid-item grid-item--large">
        <img
          src="./assets/images/main/grid-photo/placeholder.jpg"
          alt=""
          class="projects-grid__item-photo"
        />
      </div>
      <div class="projects-grid__iten grid-item">
        <img
          src="./assets/images/main/grid-photo/placeholder2.jpg"
          alt=""
          class="projects-grid__item-photo"
        />
      </div>
      <div class="projects-grid__iten grid-item">
        <img
          src="./assets/images/main/grid-photo/placeholder3.jpg"
          alt=""
          class="projects-grid__item-photo"
        />
      </div>
      <div class="projects-grid__iten grid-item">
        <img
          src="./assets/images/main/grid-photo/placeholder4.jpg"
          alt=""
          class="projects-grid__item-photo"
        />
      </div>
      <div class="projects-grid__iten grid-item">
        <img
          src="./assets/images/main/grid-photo/placeholder5.jpg"
          alt=""
          class="projects-grid__item-photo"
        />
      </div>
    </div>
  </div>
</section>
