<section class="header-block">
  <img
    src="./assets/images/main/slider/main_slider.jpg"
    alt=""
    class="header-block__bg"
  />
  <div class="header-block__container slider">
    <div class="header-block__slider-collections">
      <div class="header-block__slider-wrapper slider-wrapper">
        <div class="header-block__slider-background"></div>
        <div class="header-block__slide slide">
          <img
          data-animation='ltrt'
            src="./assets/images/main/slider/slide1.png"
            alt=""
            class="header-block__slide-image"
          />
        </div>
        <div class="header-block__slide slide">
          <img
          data-animation='ltrt'
            src="./assets/images/main/slider/slide1.png"
            alt=""
            class="header-block__slide-image"
          />
        </div>
        <div class="header-block__slide slide">
          <img
          data-animation='ltrt'
            src="./assets/images/main/slider/slide1.png"
            alt=""
            class="header-block__slide-image"
          />
        </div>
      </div>
    </div>
    <div class="header-block__slider-descriptions">
      <div class="header-block__slider-wrapper slider-wrapper">
        <div class="header-block__slide slide slide-active">
          <div class="header-block__slide-content">
            <h1 data-animation='splittext--chars' class="header-block__slide-title h1">Furniture collection</h1>
            <div data-animation='draw-line--hr' class="header-block__line line line-hr"></div>
            <p data-animation='splittext--words' class="header-block__slide-description p1">
              Deep v you probably haven't heard of them banh mi synth actually
              affogato. Aesthetic lyft ethical drinking vinegar austint
            </p>
          </div>

        </div>
        <div class="header-block__slide slide">
          <div class="header-block__slide-content">
            <h1 data-animation='splittext--chars' class="header-block__slide-title h1">Furniture collection</h1>
            <div data-animation='draw-line--hr' class="header-block__line line line-hr"></div>
            <p data-animation='splittext--words' class="header-block__slide-description p1">
              Deep v you probably haven't heard of them banh mi synth actually
              affogato. Aesthetic lyft ethical drinking vinegar austint
            </p>
          </div>
        </div>
        <div class="header-block__slide slide">
          <div class="header-block__slide-content">
            <h1 data-animation='splittext--chars' class="header-block__slide-title h1">Furniture collection</h1>
            <div data-animation='draw-line--hr' class="header-block__line line line-hr"></div>
            <p data-animation='splittext--words' class="header-block__slide-description p1">
              Deep v you probably haven't heard of them banh mi synth actually
              affogato. Aesthetic lyft ethical drinking vinegar austint
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="header-block__slider-pagination slider__pagination">
      <div class="header-block__slider-pagination__dots slider__pagination-dot"></div>
      <div class="header-block__slider-pagination__dots slider__pagination-dot"></div>
      <div class="header-block__slider-pagination__dots slider__pagination-dot"></div>
    </div>
  </div>
</section>
