<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desire</title>
  </head>
  <body>
    <div class="wrapper">
      <%= _.template(require('../../components/_header.html').default)()%>
      <%= _.template(require('../../components/_rightSideMenu.html').default)()%>
      <main class="main main-page">
        <%= _.template(require('../../components/main/_sectionHeader.html').default)()%>
        <%= _.template(require('../../components/main/_sectionCollection.html').default)()%>
        <%= _.template(require('../../components/main/_sectionPromo.html').default)()%>
        <%= _.template(require('../../components/main/_sectionPromoWorks.html').default)()%>
        <%= _.template(require('../../components/main/_sectionPromoProjects.html').default)()%>
        <%= _.template(require('../../components/main/_sectionBlog.html').default)()%>

      </main>
      <%=_.template(require('../../components/_footer.html').default)()%>
    </div>
  </body>
</html>
