<section class='about__promo-block'>
    <div class="about__promo-block__wrapper">
    <img src="./assets/images/about/bg.jpg" alt="" class="about__promo-bg">
    <div class="about__promo-wrapper">
        <div class="about__promo-image__wrapper">
            <img data-animation='ltrt' src="./assets/images/about/Green_chair.png" alt="" class="about__promo-image">
        </div>
        <div class="about__promo-description__wrapper">
            <h3 class="about__promo-title h3" data-animation="splittext--chars">Our Inspiration in details</h3>
            <div class="line line-hr"></div>
            <p class="about__promo-description p1-grey" data-animation="splittext--words">Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth helvetica jean shorts. Fanny pack church-key cornhole, banh mi thundercats gochujang keytar.</p>
            <ul class="about__promo-statistic" data-animation="range-animate--container">
                <li class="about__promo-statistic__item ">
                    <div class="about__promo-statistic__title" data-animation="splittext--chars">Design and technical drawings</div>
                    <div class="about__promo-statistic__result p1" data-animation="fade-out">0%</div>
                    <div class="about__promo-statistic__range range-item">
                        <div class="range-value" data-animation="range-animate"></div>
                    </div>
                </li>
                <li class="about__promo-statistic__item ">
                    <div class="about__promo-statistic__title p1" data-animation="splittext--chars">Measurments</div>
                    <div class="about__promo-statistic__result p1" data-animation="fade-out">0%</div>
                    <div class="about__promo-statistic__range range-item">
                        <div class="range-value" data-animation="range-animate"></div>
                    </div>
                </li>
                <li class="about__promo-statistic__item">
                    <div class="about__promo-statistic__title p1" data-animation="splittext--chars">Furniture functionality analysis</div>
                    <div class="about__promo-statistic__result p1" data-animation="fade-out">0%</div>
                    <div class="about__promo-statistic__range range-item">
                        <div class="range-value" data-animation="range-animate"></div>
                    </div>
                </li>
                <li class="about__promo-statistic__item">
                    <div class="about__promo-statistic__title p1" data-animation="splittext--chars">Interior visualization</div>
                    <div class="about__promo-statistic__result p1" data-animation="fade-out">0%</div>
                    <div class="about__promo-statistic__range range-item">
                        <div class="range-value" data-animation="range-animate"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>