<footer class='footer'>

    <div class="footer__content">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__info">
                    <h6 class="footer__info-title p1-dg p1-bold" data-animation="splittext--chars">Contact Us</h6>
                    <p class="footer__info-text p1-grey" data-animation="splittext--words">
                        Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy

                    </p>
                    <a class=" footer-info-email p1-medium p1-dg p1-fs-14" href="mailto:ouremailaddress@email.com" data-animation="splittext--chars">
                        ouremailaddress@email.com
                    </a>
                    <form action="" class="footer__form" data-animation="fade-out">
                        <input class="footer__form-input" placeholder="Subscribe by email"></input>
                        <button class="footer__form-button btn btn__dark p1-medium" type='submit'>Send</button>
                    </form>
                </div>
                <ul class="footer__social-list" data-animation="fade-out-bottom-stagger">
                    <li class="footer__social-item
                        ">
                        <a class="footer__social-link p1-db p1-medium p1-fs-14" href='#'><img src="./assets/images/footer/facebook.svg"><p>Facebook</p></a>
                    </li>
                    <li class="footer__social-item
                        ">
                        <a class="footer__social-link p1-db p1-medium p1-fs-14" href='#'><img src="./assets/images/footer/instagram.svg"><p>Instagram</p></a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link p1-db p1-medium p1-fs-14" href='#'><img src="./assets/images/footer/Pinterest.svg"><p>Pinterest</p></a>
                    </li>
                    <li class="footer__social-item
                        ">
                        <a class="footer__social-link p1-db p1-medium p1-fs-14" href='#'><img src="./assets/images/footer/whatsapp.svg"><p>WhatsApp</p></a>
                    </li>
                    <li class="footer__social-item
                        ">
                        <a class="footer__social-link p1-db p1-medium p1-fs-14" href='#'><img src="./assets/images/footer/youtube.svg"><p>Youtube</p></a>
                    </li>

                </ul>
                <nav class="footer__menu">
                    <ul class="footer__menu-list" data-animation="fade-out-bottom-stagger">
                        <li class="footer__menu-item"> <a class="footer__menu-link p1-db p1-medium p1-fs-14" href='#'>Delivery</a>
                        </li>
                        <li class="footer__menu-item"> <a class="footer__menu-link p1-db p1-medium p1-fs-14" href='#'>FAQ</a></li>
                        <li class="footer__menu-item"> <a class="footer__menu-link p1-db p1-medium p1-fs-14" href='#'>Help</a>
                        </li>
                        <li class="footer__menu-item"> <a class="footer__menu-link p1-db p1-medium p1-fs-14" href='#'>More About
                                Us</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer__copyright p1-light">
        <div class="container">
            <p data-animation="splittext--chars">
                674 Gonzales Drive. Washington, PA 15301
            </p>
        </div>
    </div>
    </div>
</footer>