<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__container">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a
              data-animation="fade-out--header"
              class="menu__list-link p1"
              href="about.html"
              >About</a
            >
          </li>
          <li class="menu__list-item">
            <a
              data-animation="fade-out--header"
              class="menu__list-link p1"
              href="gallery.html"
              >Gallery</a
            >
          </li>
        </ul>
      </nav>
      <a href="index.html" class="logo">
        <img
          data-animation="fade-out--header"
          src="./assets/images/header/logo.svg"
          alt="logo"
        />
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a
              data-animation="fade-out--header"
              class="menu__list-link p1"
              href="contacts.html"
              >Contact</a
            >
          </li>
          <li class="menu__list-item">
            <a
              data-animation="fade-out--header"
              class="menu__list-link p1"
              href="blog.html"
              >Blog</a
            >
          </li>
        </ul>
      </nav>
    </div>
      <button class="header__btn">
        <span data-animation="fade-out--header" class="header__btn-line"></span
        ><span data-animation="fade-out--header" class="header__btn-line"></span
        ><span data-animation="fade-out--header" class="header__btn-line"></span
        ><span data-animation="fade-out--header" class="header__btn-line"></span>
      </button>
    </div>
    <div class='header__container--mobile'>
      <div class="header__container">
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a
                data-animation="fade-out--header"
                class="menu__list-link p1"
                href="about.html"
                >About</a
              >
            </li>
            <li class="menu__list-item">
              <a
                data-animation="fade-out--header"
                class="menu__list-link p1"
                href="gallery.html"
                >Gallery</a
              >
            </li>
          </ul>
        </nav>
        <a href="/index.html" class="logo">
          <img
            data-animation="fade-out--header"
            src="./assets/images/header/logo.svg"
            alt="logo"
          />
        </a>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a
                data-animation="fade-out--header"
                class="menu__list-link p1"
                href="contacts.html"
                >Contact</a
              >
            </li>
            <li class="menu__list-item">
              <a
                data-animation="fade-out--header"
                class="menu__list-link p1"
                href="blog.html"
                >Blog</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
