<div class="blog__section-news">
    <div class="blog__section-container">
        <ul class="blog__section-news__container">
            <li class="blog__section-news__item blog__section-news__item--quote">
                <div class="news__item-image__wrapper">
                    <img src="./assets/images/blog/b1.jpg" alt="" class="news__item-image">
                </div>
                <div class="news__item-info">
                    <ul class="news__item-info__list">
                        <li class="news__item-info__list-item">
                            August 15, 2020
                        </li>
                        <li class='divider'>|</li>
                        <li class="news__item-info__list-item">
                            by Ann Summers
                        </li>
                        <li class='divider'>|</li>
                        <li class="news__item-info__list-item">
                            Bedroom Furniture
                        </li>
                    </ul>
                </div>
                <div class="news__item-description__block">
                    <h3 class="news__item-header h3-fs-24">Red selfies edison bulb four dollar toast humblebrag for the furniture</h3>
                    <p class="news__item-description p1-light">Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table</p>
                </div>
                <div class="news__iten-quote-block">
                    <h3 class='news__item-quote h3-italic h3-fs-24'>“Simplicity is not the goal. It is the by-product of a good idea and modest expectations” </h3>
                    <div class="line line-hr"></div>
                    <p class="news__item-quote__author">Paul Rand</p>
                </div>
            </li>
            <li class="blog__section-news__item blog__section-news__item--reduced">
                <div class="news__item-image__wrapper">
                    <img src="./assets/images/blog/b2.jpg" alt="" class="news__item-image">
                </div>
                <div class="news__item-info">
                    <ul class="news__item-info__list">
                        <li class="news__item-info__list-item">
                            August 12, 2020
                        </li>
                        <li class='divider'>|</li>
                        <li class="news__item-info__list-item">
                            by Lux Morningstar
                        </li>
                        <li class='divider'>|</li>
                        <li class="news__item-info__list-item">
                            Design
                        </li>
                    </ul>
                </div>
                <div class="news__item-description__block">
                    <h3 class="news__item-header h3-fs-24">Authentic kogi shabby chic</h3>
                    <p class="news__item-description p1-light"></p>
                </div>
                <div class="news__iten-quote-block">
                    <div class="news__item-quote-block__wrapper">
                    <h3 class='news__item-quote'></h3>
                    <div class="line line-hr"></div>
                    <p class="news__item-quote__author"></p>
                </div>
                </div>
            </li>
            <li class="blog__section-news__item">
                <div class="news__item-image__wrapper">
                    <img src="./assets/images/blog/b3.png" alt="" class="news__item-image">
                </div>
                <div class="news__item-info">
                    <ul class="news__item-info__list">
                        <li class="news__item-info__list-item">
                            August 18, 2020
                        </li>
                        <li class='divider'>|</li>
                        <li class="news__item-info__list-item">
                            by Ann Summers
                        </li>
                        <li class='divider'>|</li>
                        <li class="news__item-info__list-item">
                            Table Furniture
                        </li>
                    </ul>
                </div>
                <div class="news__item-description__block">
                    <h3 class="news__item-header h3-fs-24">Semiotics fixie four dollar toast, next level woke</h3>
                    <p class="news__item-description p1-light">Everyday carry actually neutra authentic kogi shabby chic migas small batch craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin edison bulb farm-to-table</p>
                </div>
                <div class="news__iten-quote-block">
                    <h3 class='news__item-quote'></h3>
                    <div class="line line-hr"></div>
                    <p class="news__item-quote__author"></p>
                </div>
            </li>
        </ul>
        <div class="blog__section-pagination">
            <ul class="blog__section-pagination-list pagination-list" data-animation="fade-out-bottom-stagger">
                <li class="blog__section-pagination-list__item pagintaion__btn-prev"></li>
                <li class="blog__section-pagination-list__item">1</li>
                <li class="blog__section-pagination-list__item pagination__btn-next"></li>
            </ul>
        </div>
    </div>
</div>