<section class="contacts__section">
  <div class="contacts__container container">
    <div class="contacts__title-wrapper">
      <h3 class="h3 contacts__title" data-animation="splittext--chars">Contact us</h3>
      <div class="line line-hr" data-animation="line--hr"></div>
    </div>
    <div class="contacts__aside">
      <ul class="socials__list" data-animation="fade-out-bottom-stagger">
        <li class="socials__list-item">
          <a class="social__link" href="#"
            ><img src="./assets/images/footer/facebook.svg"
          /></a>
        </li>
        <li class="socials__list-item">
          <a class="social__link" href="#"
            ><img src="./assets/images/footer/instagram.svg"
          /></a>
        </li>
        <li class="socials__list-item">
          <a class="social__link" href="#"
            ><img src="./assets/images/footer/Pinterest.svg"
          /></a>
        </li>
        <li class="socials__list-item">
          <a class="social__link" href="#"
            ><img src="./assets/images/footer/whatsapp.svg"
          /></a>
        </li>
        <li class="socials__list-item">
          <a class="social__link" href="#"
            ><img src="./assets/images/footer/youtube.svg"
          /></a>
        </li>
      </ul>
      <p class="contacts__description p1-light" data-animation="splittext--words">Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin coffee street art. Viral shaman mustache master cleanse, pour-over affogato poutine copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock</p>
      <ul class="contacts__addresses" data-animation="fade-out-bottom-stagger">
<li class="contacts__addresses-item">
    <a href="tel:(415)829-7934" class='p1-light'>(415)829-7934</a>
</li>
<li class="contacts__addresses-item p1-light">
   725 Green St 
</li>
<li class="contacts__addresses-item p1-light">
    San Francisco, California(CA), 94133
</li>
<li class="contacts__addresses-item footer-info-email p1-light">
    <a href="mailto:ouremailaddress@email.com" class='p1-medium p1-dg p1-fs-14'>ouremailaddress@email.com</a>
</li>
      </ul>
      <div class="contacts__form">
      </div>
    </div>
  </div>
</section>
